tskobic-aplikacija_1/doc/** linguist-vendored
tskobic-aplikacija_2/doc/** linguist-vendored
tskobic-aplikacija_3/doc/** linguist-vendored
tskobic-aplikacija_4/doc/** linguist-vendored
tskobic-aplikacija_5/doc/** linguist-vendored
tskobic-aplikacija_6/tskobic-aplikacija_6_jpa/doc/** linguist-vendored
tskobic-aplikacija_6/tskobic-aplikacija_6_wa/doc/** linguist-vendored
tskobic-lib_03_1/doc/** linguist-vendored
tskobic-lib_06_1/doc/** linguist-vendored

